<div class="centered">
    <div class="table-center">
        <sa-data-table
            [scrollbarVisible]="false"
            [data]="data"
            [title]="'Company Users'"
            [selectable]="true"
            (selection)="onSelectionChange($event)"
        >
            <sa-column
                [header]="'ID'"
                [property]="'id'"
                [visible]="false"
            ></sa-column>
            <sa-column [header]="'Full Name'" [width]="200">
                <ng-template #colTemplate let-data>
                    {{ data.firstName }} {{ data.lastName }}
                </ng-template>
            </sa-column>
            <sa-column
                [header]="'First Name'"
                [property]="'firstName'"
            ></sa-column>
            <sa-column
                [header]="'Last Name'"
                [property]="'lastName'"
            ></sa-column>
            <sa-column [header]="'Company'" [property]="'company'"></sa-column>
            <sa-column [header]="'Phone'" [property]="'phone'"></sa-column>
            <sa-column
                [header]="'Email'"
                [property]="'email'"
                [overflow]="tableOverflowModes.breakVisible"
                [width]="400"
            ></sa-column>
            <sa-column [header]="'DOB'" [property]="'dob'" [width]="300">
                <ng-template #colTemplate let-user>
                    <div class="col">
                        {{ user.dob | date: 'short' }}
                    </div>
                </ng-template>
            </sa-column>
            <sa-column
                [header]="'Address'"
                [property]="'address'"
                [width]="200"
                [overflow]="tableOverflowModes.visible"
            ></sa-column>
            <sa-column
                [header]="'Interests'"
                [property]="'interests'"
                [overflow]="tableOverflowModes.visible"
                [width]="300"
            ></sa-column>
            <sa-column
                [header]="'Delete User'"
                [overflow]="tableOverflowModes.visible"
                [width]="300"
            >
                <ng-template #colTemplate let-data>
                    <button (click)="deleteUser(data)">
                        Delete {{ data.firstName }}
                    </button>
                </ng-template>
            </sa-column>
            <ng-template #headerExtraRight>
                <button (click)="handleShonan()" class="umaga">Adult Jump</button>
            </ng-template>
            <ng-template #headerExtraLeft>
                <button (click)="handleShonan()" class="umaga">Shonan Jump</button>
            </ng-template>
        </sa-data-table>
    </div>
</div>
